@import "../modules/variable.scss";
@import "../modules/classes.scss";
@import "../modules/mixins.scss";





@media (max-width: 480px) {
 
  .home-section{
    padding-top: 20px;
  }
  .header-content {
    justify-content: center;
  }
  .card {
    width: 300px;
    margin-top: 30px;
  }
  .skincare-section {
    justify-content: center;
  }
  .nail-trends .card{
      width: 10rem;
  }
  .handcare-boxes {
    justify-content: center;
  }
  .nail-trends {
    justify-content: center;
  }
  .contact-section {
    padding-left: 20px;
    padding-right: 20px;
  }
  .contact-form {
    padding: 50px 20px;
  }
  .containerbox {
    width: 100%;
    height: 100%;
  }
  .footer-main-title {
    display: none;
  }
  .hide-title {
    display: block;
    text-align: center;
  }
  .footer-contact {
    padding-right: 5px;
  }
  .footer-contact h4 {
    font-size: 14px;
    background-color: $color03;
    color: bisque;
    padding: 10px 10px;
    border-radius: 30px;
  }
  .footer-section {
    justify-content: center;
  }
 .footer-nav-a {
   font-size: 12px;
 }
 .contact-info {
   font-size: 12px;
 }
 .footer-icon {
   padding-right: 2px;
 }
 .footer-icon img {
   height: 25px;
   width: 25px;
 }


.main-navigation {
  display: none;
}

.wrapper {
  display: block;
  background-color: beige;
  width: 100%;
  position: fixed;
  z-index: 3;
  align-items: center;
}
.wrapper .menu-icon2{
    color: black;
    font-size: 18px;
    cursor: pointer;
    line-height: 70px;
    width: 70px;
    text-align: center;
}
.responsive-icons {
  align-items: center;
  padding-top: 20px;
}
.content2 .logo a {
  font-size: 20px;
  color: $color04;
  letter-spacing:0.2cm;
}
.wrapper nav {
  display: flex;
  max-width: calc(100%-200px);
  background-color: white;
  margin: 0 auto;
  height: 70px;
  justify-content: space-between;
}
nav .content2 {
  display: flex;
  align-items: center;
}
.content2 .links {
  background-color: white;
  height: 100%;
  width: 100%;
  top: 70px;
  left: 0;
  margin-left: 0;
  padding: 30px 30px;
}
.content2 .links li {
  list-style: none;
}
.content2 .links li a {
  color: black;
  font-size: $fontsize02;
  font-weight: 500;
  padding: 9px 17px;
  font-weight: 600;
  font-family: Raleway Medium;
  // transition: all 0.3s ease;
  // 
}
.content2 .links li:hover a{
  display: inline-block;
  background-color: $color02;
  border-radius: 50px;
  font-size: 19px;
  // padding: 5px 5px;
}
.wrapper {
  display: block;
}
.wrapper #show-menu:checked ~ .menu-icon2 i::before{
  content: "\f00d";
}


nav .content2 .links{
  display: block;
  position: fixed;
  background-color: rgba(247, 235, 230, 0.993);
  height: 350px;
  width: 100%;
  top: 70px;
  left: -100%;
  margin-left: 0;
  max-width: 100%;
  transition: all 0.3s ease;
}
nav #show-menu:checked ~ .content2 .links {
  left: 0%;
}
.content2 .links li{
  margin: 25px 25px;
  text-align: center;
}
.content2 .links li a{
  
  font-size: 16px;
  display: block;
  padding: 4px 18px;
  
}
// .content2 .links li a:hover {
//   border-bottom: 2px solid $color05;
//     color: $color03;
//     display: inline-block;
// }
.wrapper input {
  display: none;
}






}






