@import './../basic/reset.scss';
@import './../basic/font.scss';
@import './../modules/variable.scss';
@import './../modules/classes.scss';
@import './../main/keyframes.scss';
@import './../modules/mixins.scss';

// header
header {
    background-image: url(../pic/cover.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.main-navigation {
    display: flex;
    justify-content: space-around;
    padding: 30px 0 0;
    flex-wrap: wrap;
}

.main-nav {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    padding-left: 80px;
    .main-nav-li {
        margin-left: 40px;
        .navbar-text {
            padding: 8px 0;
            color: $color05;
            text-decoration: none;
            text-transform: uppercase;
            font-size: $fontsize07;
            border-bottom: 3px solid transparent;
            transition: border-bottom 0.2s;
            @extend %ralewaymedium;
            &:hover {
                border-bottom: 3px solid $color05;
            }
        }
    }
}

.icons-box {
    padding-left: 40px;
}

.ios-icons {
    max-width: 30px;
    width: 100%;
    &:active {
        transform: translateY(2px);
    }
}
.text-box-headline {
            padding: 8px 0;
            color: $color04;
            text-decoration: none;
            text-transform: uppercase;
            font-size: $fontsize03;
            @extend %ralewaybold;
            letter-spacing:0.4cm;
}
.header-content {
    @extend %flex;
    // margin:70px auto;
    padding-bottom: 80px;
    padding-top: 80px;
    
}
.header-content-left {
    margin: 100px 0 0;
}
.header-content-text {
    font-size: $fontsize06;
    color: $color04;
    @extend %ralewaymedium;
    max-width: 550px;
    width: 100%;
    border-left: 5px solid black;
    padding: 10px 30px;
}
.mask-img {
    max-width: 400px;
    width: 100%;
    // width: 100vh;
}
.header-content-btn {
    font-size: $fontsize03;
    @extend %ralewaymedium;
    margin: 20px 0 0;
}
.skincare-section {
    @extend %flex;
}
.skincare-headline {
    font-size: $fontsize05;
    padding-bottom: 50px;
    text-align: center;
}
.card-title {
    font-size: $fontsize07;
    letter-spacing: 1px;
    font-weight: 700;
}
.card-text {
    padding-top: 20px;
}
.skincare-section-main {
    padding-top: 50px;
    background-color: rgb(250, 240, 227);
}
.handcare-section {
    padding-top: 50px;
    background-color: rgb(250, 240, 227);
}
.nail-title {
    font-size: $fontsize05;
    padding-bottom: 50px;
    text-align: center;
}
.img-fluid {
    width: 100%;
    height: 450px;
}
.handcare-box-title {
    font-size: $fontsize05;
    padding-bottom: 30px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.handcare-boxes {
   @extend %flex;
   padding-top: 20px;
   padding-bottom: 20px;
}
.rounded-circle {
    height: 200px;
    width: 200px;
}
.handcare-text {
    font-size: $fontsize02;
    font-weight: 600;
    text-align: center;
    padding-top: 15px;
}
.btn-handcare {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.nailbox {
    background-color: rgb(233, 225, 214);
    padding-bottom: 50px;
}
.nailbox-title {
    font-size: $fontsize05;
    padding-bottom: 30px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.nail-pic {
    max-width: 100%;
}
.style-title {
    font-size: $fontsize07;
    padding-top: 30px;
    text-align: center;
    border-bottom: 1px;
}
.style-box {
    @extend %flex;
    justify-content:space-evenly;
}
.style-list {
    padding-top: 30px;
    p {
        padding-top: 15px;
    }
}
.d-block {
    height: 600px;
}
.nail-trends {
    @extend %flex;
    padding-top: 50px;
    padding-bottom: 50px;
}
.card-text2 {
    text-align: center;
    @extend %ralewaymedium;
}
.nail-style-sec {
    background-color: rgb(241, 235, 212);
}
// contact us
.contact-us-info {
    position: relative;
}
.contact-section {
    background-color: rgb(233, 225, 214);
}
.contact-info-boxes {
    background-color: green;
    height: 250px;
    width: 300px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}
.contact-title {
    font-size: $fontsize07;
    padding-bottom: 30px;
    text-align: center;
}
.contact-us-title {
    font-size: $fontsize02;
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
}
.contact-form {
    padding: 50px 200px;
}
.exampleFormControlInput1 {
    padding-bottom: 10px;
}
.form-group {
    padding-top: 25px;
}
.exampleFormControlTextarea1 {
    padding-bottom: 10px;
}
.contact-btn {
    padding-top: 10px;
}
.contact-icons {
    // width: 50px;
    // height: 50px;
    // max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(243, 203, 210);
    transition: 0.5s;
    z-index: 1;
    &:hover {
        top: 20px;
        right: calc(50% - 40xp);
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }
}
.fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 80px;
    width: 80px;
    transition: 0.5s;
    &:hover {
        height: 40px;
        width: 40px;
}

}
.content {
    position: absolute;
    top: 100px;
    height: calc(100% - 100px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
}
.contact-instruction {
    font-size: $fontsize02;
    padding-bottom: 50px;
    text-align: center;
}
.contact-us-info {
    @extend %flex;
    padding: 50px 50px;
    justify-content:space-evenly;
    text-align: center;
    @extend %ralewaymedium;
}
.contact-us-text {
    padding-top: 30px;
    justify-content: center;
}
// footer
footer {
    background-image: url(../pic/cover.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.footer-section {
    @extend %flex;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer-nav-li {
    text-decoration: none;
    padding-top: 20px;
}
.footer-li {
    padding-top: 15px;
}
.footer-nav-a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: $fontsize01;
    border-bottom: 3px solid transparent;
            transition: border-bottom 0.2s;
            @extend %ralewaymedium;
            &:hover {
                border-bottom: 2px solid $color05;
                color: black;
            }
}
.footer-contact h4 {
    @extend %footer-title;
}
.footer-main-title {
    font-size: $fontsize03;
    padding-top: 80px;
    color: $color04;
    letter-spacing:0.4cm;
    @extend %ralewaybold;
}
.footer-contact-us {
    padding-top: 20px;
    .contact-info {
        padding-top: 15px;
    }
}
.footer-icons {
    padding-top: 35px;
}
.footer-icon {
    padding-right: 10px;
    max-width: 30px;
    width: 100%;
    &:active {
        transform: translateY(2px);
    }
}

// animations

.header-content {
    overflow: hidden;
}
.header-content-text {
    text-transform: uppercase;
    transform: translateX(-120%);
    animation: animate 2s ease-in-out forwards;
}
.header-content-btn {
    text-transform: uppercase;
    transform: translateX(-120%);
    animation: animate 2s ease-in-out forwards;
    animation-delay: .8s;
}

.card {
    transition: all 0.1s ease 0.1s;
    &:hover {
        background-color: rgb(236, 197, 201);
        transform: scale(1.1);
    }
}
.containerbox {
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 0px auto;
    @extend %flex;
}
.containerbox .box {
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background: rgba(187, 127, 127, 0.699);
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.containerbox .box .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(187, 127, 127);
    transition: 0.5s;
    z-index: 1;

}
.containerbox .box:hover .icon {
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.containerbox .box .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.5s;
    color: #fff;
}
.containerbox .box:hover .icon .fa {
    font-size: 40px;
    text-align: center;
    top: 60px;
}
.containerbox .box .content1 {
    position: absolute;
    top: 100%;
    height: calc(100% -100px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
    align-items: center;
    padding-left: 85px;
}
.containerbox .box .content2 {
    position: absolute;
    top: 100%;
    height: calc(100% -100px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
    align-items: center;
    padding-left: 120px;
}
.containerbox .box .content3 {
    position: absolute;
    top: 100%;
    height: calc(100% -100px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
    align-items: center;
    padding-left: 110px;
}

.containerbox .box:hover .content1 {
    top: 100px;
    opacity: 1;
}
.containerbox .box:hover .content2 {
    top: 100px;
    opacity: 1;
}
.containerbox .box:hover .content3 {
    top: 100px;
    opacity: 1;
}
.containerbox .box .content1 h3 {
    margin: 0 0 10px;
    padding: 0;
    color: #fff;
    font-size: 40px;
}
.containerbox .box .content2 h3 {
    margin: 0 0 10px;
    padding: 0;
    color: #fff;
    font-size: 40px;
}
.containerbox .box .content3 h3 {
    margin: 0 0 10px;
    padding: 0;
    color: #fff;
    font-size: 40px;
}
.containerbox .box .content1 p {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
}
.containerbox .box .content2 p {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
}
.containerbox .box .content3 p {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
}
.call-title {
    padding-left: 100px;
}