@import './../basic/reset.scss';
@import './../basic/font.scss';
@import './../modules/variable.scss';
@import './../modules/classes.scss';
@import './../main/keyframes.scss';
@import './../modules/mixins.scss';


header {
    background-image: url(../pic/cover.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.main-navigation {
    display: flex;
    justify-content: space-around;
    padding: 30px 0 0;
    flex-wrap: wrap;
}

.main-nav {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    
    padding-left: 80px;
    .main-nav-li {
        margin-left: 40px;
        .navbar-text {
            padding: 8px 0;
            color: $color05;
            text-decoration: none;
            text-transform: uppercase;
            font-size: $fontsize07;
            border-bottom: 3px solid transparent;
            transition: border-bottom 0.2s;
            @extend %ralewaymedium;
            &:hover {
                border-bottom: 3px solid $color05;
            }
        }
    }
}

.icons-box {
    padding-left: 40px;
}

.ios-icons {
    max-width: 30px;
    width: 100%;
    &:active {
        transform: translateY(2px);
    }
}
.text-box-headline {
            padding: 8px 0;
            color: $color04;
            text-decoration: none;
            text-transform: uppercase;
            font-size: $fontsize03;
            @extend %ralewaybold;
            letter-spacing:0.4cm;
}
.header-content {
    @extend %flex;
    margin:70px auto;
    
}
.header-content-left {
    margin: 100px 0 0;
}
.header-content-text {
    font-size: $fontsize06;
    color: $color04;
    @extend %ralewayreg;
    max-width: 350px;
    width: 100%;
}
.mask-img {
    max-width: 400px;
    width: 100%;
}
.header-content-btn {
    font-size: $fontsize03;
    @extend %ralewaymedium;
    margin: 20px 0 0;
}
.skincare-section {
    @extend %flex;
}
.skincare-headline {
    font-size: $fontsize05;
    padding-bottom: 50px;
    text-align: center;
}
.card-title {
    font-size: $fontsize07;
    letter-spacing: 1px;
    font-weight: 700;
}
.card-text {
    padding-top: 20px;
}
.skincare-section-main {
    padding-top: 50px;
    background-color: rgb(250, 240, 227);
}
.handcare-section {
    padding-top: 50px;
    background-color: rgb(250, 240, 227);
}
.nail-title {
    font-size: $fontsize05;
    padding-bottom: 50px;
    text-align: center;
}
.img-fluid {
    width: 100%;
    height: 450px;
}
.handcare-box-title {
    font-size: $fontsize05;
    padding-bottom: 30px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.handcare-boxes {
   @extend %flex;
   padding-top: 20px;
   padding-bottom: 20px;
}
.rounded-circle {
    height: 200px;
    width: 200px;
}
.handcare-text {
    font-size: $fontsize02;
    font-weight: 600;
    text-align: center;
    padding-top: 15px;
}
.btn-handcare {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
