// size variable
$size01 : 20px;
$size02 : 100px;
$size03 : 200px;
$size04 : 600px;
$size05 : 50px;

// font size variable
$fontsize01 : 14px;
$fontsize02 : 18px;
$fontsize03 : 24px;
$fontsize04 : 30px;
$fontsize05 : 40px;

// color variable
$color01 : black;
$color02 : white;
$color03 : rgb(71, 66, 66);
$color04 : rgb(45, 99, 48);
