html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.header-title h3 {
  color: #2d6330;
  font-size: 40px;
  text-align: center;
  margin: 0 0 30px; }

.main-contant .container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; }

.firstline, .firstline nav .navbar-ul, .header-title {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

header {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px; }

.header-title h3 {
  color: #2d6330;
  font-size: 40px;
  text-align: center;
  margin: 0 0 30px; }

.main-contant .container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; }

.firstline, .firstline nav .navbar-ul, .header-title {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

header {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px; }

.firstline h2 {
  font-size: 24px; }

.firstline .header-icon a img {
  width: 20px;
  height: 20px;
  padding-left: 20px; }

.firstline nav .navbar-ul li a {
  font-size: 18px; }

.header-title {
  padding-top: 50px;
  align-items: center; }
  .header-title img {
    height: 400px;
    width: 300px; }

header {
  background-image: url(../../pic/cover.jpg); }

.navbar-ul li {
  padding-left: 50px;
  font-size: 22px; }

.navbar-ul li a {
  text-decoration: none;
  color: black; }
