html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

a {
  color: #0d6efd;
  text-decoration: none;
  background-color: transparent; }

a:hover {
  color: #0a58ca;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Raleway Regular';
  src: url("../fonts/Raleway-Regular.eot");
  src: url("../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.ttf") format("truetype"), url("../fonts/Raleway-Regular.svg#Raleway-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Raleway Bold';
  src: url("../fonts/Raleway-Bold.eot");
  src: url("../fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.ttf") format("truetype"), url("../fonts/Raleway-Bold.svg#Raleway-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Raleway Medium';
  src: url("../fonts/Raleway-Medium.eot");
  src: url("../fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway-Medium.ttf") format("truetype"), url("../fonts/Raleway-Medium.svg#Raleway-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Raleway Thin';
  src: url("../fonts/Raleway-Thin.eot");
  src: url("../fonts/Raleway-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Thin.woff2") format("woff2"), url("../fonts/Raleway-Thin.woff") format("woff"), url("../fonts/Raleway-Thin.ttf") format("truetype"), url("../fonts/Raleway-Thin.svg#Raleway-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }

.header-content, .skincare-section, .handcare-boxes, .style-box, .nail-trends, .contact-us-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.header-content-text {
  font-family: 'Raleway Regular'; }

.text-box-headline {
  font-family: 'Raleway Bold'; }

.main-nav .main-nav-li .navbar-text, .header-content-btn {
  font-family: 'Raleway Medium'; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

a {
  color: #0d6efd;
  text-decoration: none;
  background-color: transparent; }

a:hover {
  color: #0a58ca;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Raleway Regular';
  src: url("../fonts/Raleway-Regular.eot");
  src: url("../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.ttf") format("truetype"), url("../fonts/Raleway-Regular.svg#Raleway-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Raleway Bold';
  src: url("../fonts/Raleway-Bold.eot");
  src: url("../fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.ttf") format("truetype"), url("../fonts/Raleway-Bold.svg#Raleway-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Raleway Medium';
  src: url("../fonts/Raleway-Medium.eot");
  src: url("../fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway-Medium.ttf") format("truetype"), url("../fonts/Raleway-Medium.svg#Raleway-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Raleway Thin';
  src: url("../fonts/Raleway-Thin.eot");
  src: url("../fonts/Raleway-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Thin.woff2") format("woff2"), url("../fonts/Raleway-Thin.woff") format("woff"), url("../fonts/Raleway-Thin.ttf") format("truetype"), url("../fonts/Raleway-Thin.svg#Raleway-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }

.header-content, .skincare-section, .handcare-boxes, .style-box, .nail-trends, .contact-us-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.header-content-text {
  font-family: 'Raleway Regular'; }

.text-box-headline {
  font-family: 'Raleway Bold'; }

.main-nav .main-nav-li .navbar-text, .header-content-btn {
  font-family: 'Raleway Medium'; }

.js--wp-10 {
  opacity: 0;
  animation-duration: 1s; }

header {
  background-image: url(../pic/cover.jpg);
  height: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

.main-navigation {
  display: flex;
  justify-content: space-around;
  padding: 30px 0 0;
  flex-wrap: wrap; }

.main-nav {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  padding-left: 80px; }
  .main-nav .main-nav-li {
    margin-left: 40px; }
    .main-nav .main-nav-li .navbar-text {
      padding: 8px 0;
      color: #00001a;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 20px;
      border-bottom: 3px solid transparent;
      transition: border-bottom 0.2s; }
      .main-nav .main-nav-li .navbar-text:hover {
        border-bottom: 3px solid #00001a; }

.icons-box {
  padding-left: 40px; }

.ios-icons {
  max-width: 30px;
  width: 100%; }
  .ios-icons:active {
    transform: translateY(2px); }

.text-box-headline {
  padding: 8px 0;
  color: #2d6330;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 0.4cm; }

.header-content {
  margin: 70px auto;
  padding-bottom: 80px; }

.header-content-left {
  margin: 100px 0 0; }

.header-content-text {
  font-size: 52px;
  color: #2d6330;
  max-width: 350px;
  width: 100%; }

.mask-img {
  max-width: 400px;
  width: 100%; }

.header-content-btn {
  font-size: 24px;
  margin: 20px 0 0; }

.skincare-headline {
  font-size: 40px;
  padding-bottom: 50px;
  text-align: center; }

.card-title {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 700; }

.card-text {
  padding-top: 20px; }

.skincare-section-main {
  padding-top: 50px;
  background-color: #faf0e3; }

.handcare-section {
  padding-top: 50px;
  background-color: #faf0e3; }

.nail-title {
  font-size: 40px;
  padding-bottom: 50px;
  text-align: center; }

.img-fluid {
  width: 100%;
  height: 450px; }

.handcare-box-title {
  font-size: 40px;
  padding-bottom: 30px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px; }

.handcare-boxes {
  padding-top: 20px;
  padding-bottom: 20px; }

.rounded-circle {
  height: 200px;
  width: 200px; }

.handcare-text {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding-top: 15px; }

.btn-handcare {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px; }

.nailbox {
  background-color: #e9e1d6;
  padding-bottom: 50px; }

.nailbox-title {
  font-size: 40px;
  padding-bottom: 30px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px; }

.nail-pic {
  max-width: 100%; }

.style-title {
  font-size: 20px;
  padding-top: 30px;
  text-align: center;
  border-bottom: 1px; }

.style-box {
  justify-content: space-evenly; }

.style-list {
  padding-top: 30px; }
  .style-list p {
    padding-top: 15px; }

.d-block {
  height: 600px; }

.nail-trends {
  padding-top: 50px;
  padding-bottom: 50px; }

.nail-style-sec {
  background-color: #f1ebd4; }

.contact-section {
  background-color: #e9e1d6; }

.contact-title {
  font-size: 20px;
  padding-bottom: 30px;
  text-align: center; }

.contact-us-title {
  font-size: 18px;
  text-align: center;
  padding-left: 250px;
  padding-right: 250px; }

.contact-form {
  padding: 50px 200px; }

.exampleFormControlInput1 {
  padding-bottom: 10px; }

.form-group {
  padding-top: 25px; }

.exampleFormControlTextarea1 {
  padding-bottom: 10px; }

.contact-btn {
  padding-top: 10px; }

.contact-icons {
  width: 50px;
  height: 50px;
  max-width: 100%;
  align-items: center; }

.contact-instruction {
  text-align: center;
  font-size: 18px;
  padding-bottom: 50px; }

.contact-us-info {
  padding: 50px 50px;
  justify-content: space-evenly; }

.contact-us-text {
  padding-top: 30px;
  justify-content: center; }

.js--wp-10 {
  opacity: 0;
  animation-duration: 1s; }
