html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

a {
  color: #0d6efd;
  text-decoration: none;
  background-color: transparent; }

a:hover {
  color: #0a58ca;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Raleway Regular';
  src: url("../fonts/Raleway-Regular.eot");
  src: url("../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.ttf") format("truetype"), url("../fonts/Raleway-Regular.svg#Raleway-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Raleway Bold';
  src: url("../fonts/Raleway-Bold.eot");
  src: url("../fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.ttf") format("truetype"), url("../fonts/Raleway-Bold.svg#Raleway-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Raleway Medium';
  src: url("../fonts/Raleway-Medium.eot");
  src: url("../fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway-Medium.ttf") format("truetype"), url("../fonts/Raleway-Medium.svg#Raleway-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Raleway Thin';
  src: url("../fonts/Raleway-Thin.eot");
  src: url("../fonts/Raleway-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Thin.woff2") format("woff2"), url("../fonts/Raleway-Thin.woff") format("woff"), url("../fonts/Raleway-Thin.ttf") format("truetype"), url("../fonts/Raleway-Thin.svg#Raleway-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }

.header-content, .skincare-section, .handcare-boxes, .style-box, .nail-trends, .contact-us-info, .footer-section, .containerbox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.footer-contact h4 {
  font-size: 20px;
  font-family: 'Raleway Medium'; }

.text-box-headline, .footer-main-title {
  font-family: 'Raleway Bold'; }

.main-nav .main-nav-li .navbar-text, .header-content-text, .header-content-btn, .card-text2, .contact-us-info, .footer-nav-a {
  font-family: 'Raleway Medium'; }

.li-burger {
  font-family: 'Raleway Thin'; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

a {
  color: #0d6efd;
  text-decoration: none;
  background-color: transparent; }

a:hover {
  color: #0a58ca;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Raleway Regular';
  src: url("../fonts/Raleway-Regular.eot");
  src: url("../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.ttf") format("truetype"), url("../fonts/Raleway-Regular.svg#Raleway-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Raleway Bold';
  src: url("../fonts/Raleway-Bold.eot");
  src: url("../fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.ttf") format("truetype"), url("../fonts/Raleway-Bold.svg#Raleway-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Raleway Medium';
  src: url("../fonts/Raleway-Medium.eot");
  src: url("../fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway-Medium.ttf") format("truetype"), url("../fonts/Raleway-Medium.svg#Raleway-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Raleway Thin';
  src: url("../fonts/Raleway-Thin.eot");
  src: url("../fonts/Raleway-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Thin.woff2") format("woff2"), url("../fonts/Raleway-Thin.woff") format("woff"), url("../fonts/Raleway-Thin.ttf") format("truetype"), url("../fonts/Raleway-Thin.svg#Raleway-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }

.header-content, .skincare-section, .handcare-boxes, .style-box, .nail-trends, .contact-us-info, .footer-section, .containerbox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.footer-contact h4 {
  font-size: 20px;
  font-family: 'Raleway Medium'; }

.text-box-headline, .footer-main-title {
  font-family: 'Raleway Bold'; }

.main-nav .main-nav-li .navbar-text, .header-content-text, .header-content-btn, .card-text2, .contact-us-info, .footer-nav-a {
  font-family: 'Raleway Medium'; }

.li-burger {
  font-family: 'Raleway Thin'; }

.js--wp-10 {
  opacity: 0;
  animation-duration: 1s; }

@keyframes animate {
  100% {
    transform: translateX(0); } }

span {
  animation: colors 4s ease infinite; }

@keyframes colors {
  0% {
    color: #93da93; }
  25% {
    color: #77c577; }
  50% {
    color: #377e37; }
  75% {
    color: #2e5f2e; }
  100% {
    color: #184218; } }

header {
  background-image: url(../pic/cover.jpg);
  height: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

.main-navigation {
  display: flex;
  justify-content: space-around;
  padding: 30px 0 0;
  flex-wrap: wrap; }

.icon-pic {
  height: 30px;
  width: 40px; }

.burger-menu {
  display: none;
  position: absolute;
  left: 0;
  padding-left: 10px; }

.nav-burger {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  background-color: white; }

.li-burger {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 50px;
  font-size: 18px;
  background-color: #f8f2ea; }

.navbar-text-burger {
  color: black;
  font-weight: 900; }

.navbar-text-burger:hover {
  border-bottom: 2px solid #00001a;
  color: #474242; }

.home-section {
  background-image: url(../pic/cover.jpg);
  height: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

.main-nav {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  padding-left: 80px; }
  .main-nav .main-nav-li {
    margin-left: 40px; }
    .main-nav .main-nav-li .navbar-text {
      padding: 8px 0;
      color: #00001a;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 20px;
      border-bottom: 3px solid transparent;
      transition: border-bottom 0.2s; }
      .main-nav .main-nav-li .navbar-text:hover {
        border-bottom: 3px solid #00001a; }

.icons-box {
  padding-left: 40px; }

.ios-icons {
  max-width: 30px;
  width: 100%; }
  .ios-icons:active {
    transform: translateY(2px); }

.text-box-headline {
  padding: 8px 0;
  color: #2d6330;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 0.4cm; }

.header-content {
  padding-bottom: 80px;
  padding-top: 80px; }

.header-content-left {
  margin: 100px 0 0; }

.header-content-text {
  font-size: 52px;
  color: #2d6330;
  max-width: 550px;
  width: 100%;
  border-left: 5px solid black;
  padding: 10px 30px; }

.mask-img {
  max-width: 400px;
  width: 100%; }

.header-content-btn {
  font-size: 24px;
  margin: 20px 0 0; }

.skincare-headline {
  font-size: 40px;
  padding-bottom: 50px;
  text-align: center; }

.card-title {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 700; }

.card-text {
  padding-top: 20px; }

.skincare-section-main {
  padding-top: 50px;
  background-color: #faf0e3; }

.handcare-section {
  padding-top: 50px;
  background-color: #faf0e3; }

.nail-title {
  font-size: 40px;
  padding-bottom: 50px;
  text-align: center; }

.img-fluid {
  width: 100%;
  height: 450px; }

.handcare-box-title {
  font-size: 40px;
  padding-bottom: 30px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px; }

.handcare-boxes {
  padding-top: 20px;
  padding-bottom: 20px; }

.rounded-circle {
  height: 200px;
  width: 200px; }

.handcare-text {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding-top: 15px; }

.btn-handcare {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px; }

.nailbox {
  background-color: #e9e1d6;
  padding-bottom: 50px; }

.nailbox-title {
  font-size: 40px;
  padding-bottom: 30px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px; }

.nail-pic {
  max-width: 100%; }

.style-title {
  font-size: 20px;
  padding-top: 30px;
  text-align: center;
  border-bottom: 1px; }

.style-box {
  justify-content: space-evenly; }

.style-list {
  padding-top: 30px; }
  .style-list p {
    padding-top: 15px; }

.d-block {
  height: 600px; }

.nail-trends {
  padding-top: 50px;
  padding-bottom: 50px; }

.card-text2 {
  text-align: center; }

.nail-style-sec {
  background-color: #f1ebd4; }

.contact-us-info {
  position: relative; }

.contact-section {
  background-color: #e9e1d6; }

.contact-info-boxes {
  background-color: green;
  height: 250px;
  width: 300px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
  position: relative; }

.contact-title {
  font-size: 20px;
  padding-bottom: 30px;
  text-align: center; }

.contact-us-title {
  font-size: 18px;
  text-align: center;
  padding-left: 250px;
  padding-right: 250px; }

.contact-form {
  padding: 50px 200px; }

.exampleFormControlInput1 {
  padding-bottom: 10px; }

.form-group {
  padding-top: 25px; }

.exampleFormControlTextarea1 {
  padding-bottom: 10px; }

.contact-btn {
  padding-top: 10px; }

.contact-icons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f3cbd2;
  transition: 0.5s;
  z-index: 1; }
  .contact-icons:hover {
    top: 20px;
    right: calc(50% - 40xp);
    width: 80px;
    height: 80px;
    border-radius: 50%; }

.fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80px;
  width: 80px;
  transition: 0.5s; }
  .fa:hover {
    height: 40px;
    width: 40px; }

.content {
  position: absolute;
  top: 100px;
  height: calc(100% - 100px);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.5s; }

.contact-instruction {
  font-size: 18px;
  padding-bottom: 50px;
  text-align: center; }

.contact-us-info {
  padding: 50px 50px;
  justify-content: space-evenly;
  text-align: center; }

.contact-us-text {
  padding-top: 30px;
  justify-content: center; }

footer {
  background-image: url(../pic/cover.jpg);
  height: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

.footer-section {
  padding-top: 50px;
  padding-bottom: 50px; }

.footer-nav-li {
  text-decoration: none;
  padding-top: 20px; }

.footer-li {
  padding-top: 15px; }

.footer-nav-a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 14px;
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.2s; }
  .footer-nav-a:hover {
    border-bottom: 2px solid #00001a;
    color: black; }

.footer-main-title {
  font-size: 24px;
  padding-top: 80px;
  color: #2d6330;
  letter-spacing: 0.4cm; }

.footer-contact-us {
  padding-top: 20px; }
  .footer-contact-us .contact-info {
    padding-top: 15px; }

.footer-icons {
  padding-top: 35px; }

.footer-icon {
  padding-right: 10px;
  max-width: 30px;
  width: 100%; }
  .footer-icon:active {
    transform: translateY(2px); }

.header-content {
  overflow: hidden; }

.header-content-text {
  text-transform: uppercase;
  transform: translateX(-120%);
  animation: animate 2s ease-in-out forwards; }

.header-content-btn {
  text-transform: uppercase;
  transform: translateX(-120%);
  animation: animate 2s ease-in-out forwards;
  animation-delay: .8s; }

.card {
  transition: all 0.1s ease 0.1s; }
  .card:hover {
    background-color: #ecc5c9;
    transform: scale(1.1); }

.containerbox {
  position: relative;
  width: 1200px;
  height: 300px;
  margin: 0px auto; }

.containerbox .box {
  position: relative;
  width: calc(400px - 30px);
  height: calc(300px - 30px);
  background: rgba(187, 127, 127, 0.699);
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px; }

.containerbox .box .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #bb7f7f;
  transition: 0.5s;
  z-index: 1; }

.containerbox .box:hover .icon {
  top: 20px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%; }

.containerbox .box .icon .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.5s;
  color: #fff; }

.containerbox .box:hover .icon .fa {
  font-size: 40px;
  text-align: center;
  top: 60px; }

.containerbox .box .content1 {
  position: absolute;
  top: 100%;
  height: calc(100% -100px);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.5s;
  opacity: 0;
  align-items: center;
  padding-left: 85px; }

.containerbox .box .content2 {
  position: absolute;
  top: 100%;
  height: calc(100% -100px);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.5s;
  opacity: 0;
  align-items: center;
  padding-left: 120px; }

.containerbox .box .content3 {
  position: absolute;
  top: 100%;
  height: calc(100% -100px);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.5s;
  opacity: 0;
  align-items: center;
  padding-left: 110px; }

.containerbox .box:hover .content1 {
  top: 100px;
  opacity: 1; }

.containerbox .box:hover .content2 {
  top: 100px;
  opacity: 1; }

.containerbox .box:hover .content3 {
  top: 100px;
  opacity: 1; }

.containerbox .box .content1 h3 {
  margin: 0 0 10px;
  padding: 0;
  color: #fff;
  font-size: 40px; }

.containerbox .box .content2 h3 {
  margin: 0 0 10px;
  padding: 0;
  color: #fff;
  font-size: 40px; }

.containerbox .box .content3 h3 {
  margin: 0 0 10px;
  padding: 0;
  color: #fff;
  font-size: 40px; }

.containerbox .box .content1 p {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 24px; }

.containerbox .box .content2 p {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 24px; }

.containerbox .box .content3 p {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 24px; }

.call-title {
  padding-left: 100px; }

.js--wp-10 {
  opacity: 0;
  animation-duration: 1s; }

@keyframes animate {
  100% {
    transform: translateX(0); } }

span {
  animation: colors 4s ease infinite; }

@keyframes colors {
  0% {
    color: #93da93; }
  25% {
    color: #77c577; }
  50% {
    color: #377e37; }
  75% {
    color: #2e5f2e; }
  100% {
    color: #184218; } }

@media (max-width: 480px) {
  .main-nav {
    display: none; }
  .ul-burger {
    display: none; }
  .burger-menu:hover .ul-burger {
    display: block; }
  .burger-menu {
    display: block; }
  .text-box-headline {
    padding-left: 50px; }
  .main-navigation {
    justify-content: center; }
  .home-section {
    padding-top: 20px; }
  .header-content {
    justify-content: center; }
  .card {
    width: 200px;
    margin-top: 30px; }
  .nail-trends .card {
    width: 10rem; } }
